<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-3"><%= welcome%>, <%= name %></h1>
                <% if (isOrganizer) { %>
                    <% if (exchangeCode) { %>
                    <p><%= youSetupANew%></p>
                    <h1 class="text-center"><strong><%= exchangeCode %></strong></h1>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% if (isOrganizer) { %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center mb-3"><%= ExchangesYouCreated%></h3>
            </div>
            <% DataOrganizer.forEach(exchange => { %>
                <div class="card-body">
                    <li class="list-group-item"><%= giftgivingDay%>: <%= exchange.giftDate %></li>
                    <li class="list-group-item"><%= participantsNum%>:
                        <%= exchange.participants.join(', ') %>
                    </li>
                    <li class="list-group-item"><%= exchangeCodetext%>: <%= exchange.exchangeCode %></li>
                    <% if (exchange.priceCap) { %>
                        <li class="list-group-item"><%= priceCapfor%>: <%= exchange.priceCap %></li>
                    <% } %>
                    <% if(!exchange.randomized) { %>
                    <li class="list-group-item text-center">
                        <form class="d-flex" action="/randomize" method="post">
                            <input type="text" hidden name="codeToRandom" value="<%= exchange.exchangeCode %>">
                            <button class="btn-sm btn-primary" type="submit"><%= randomize%></button>
                            <span><%= cannotUndone%></span>
                        </form>
                    </li>
                    <% } else { %>
                    <li class="list-group-item">
                        <span><strong><%= beenRandomized%></strong></span>
                    </li>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<% } %>

<% if (isParticipant) { %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center mb-3"><%= youSignedupfor%></h3>
            </div>
            <% DataParticipant.forEach( exchange => { %>
            <div class="card-body">
                <li class="list-group-item"><%= createdBy%>: <%= exchange.organizer %></li>
                <li class="list-group-item"><%= giftgivingDay%>: <%= exchange.giftDate %></li>
                <li class="list-group-item"><%= participantsNum%>: <%= exchange.count %></li>
                <% if (exchange.priceCap) { %>
                <li class="list-group-item"><%= priceCapfor%>: <%= exchange.priceCap %></li>
                <% } %>
                <% if (exchange.target) { %>
                <li class="list-group-item"><strong><%= YouPreparingFor%> <%= exchange.target %>!</strong></li>
                <% } %>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<% } %>





